<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<dllmap os="!windows,osx" dll="opencv_calib3d245" target="libopencv_calib3d.so" />
	<dllmap os="!windows,osx" dll="opencv_contrib245" target="libopencv_contrib.so" />
	<dllmap os="!windows,osx" dll="opencv_core245" target="libopencv_core.so" />
	<dllmap os="!windows,osx" dll="opencv_features2d245" target="libopencv_features2d.so" />
	<dllmap os="!windows,osx" dll="opencv_flann245" target="libopencv_flann.so" /> 
	<!--  <dllmap dll="opencv_gpu240.dll" target="libopencv_gpu.so" /> -->
	<dllmap os="!windows,osx" dll="opencv_highgui245" target="libopencv_highgui.so" />
	<dllmap os="!windows,osx" dll="opencv_imgproc245" target="libopencv_imgproc.so" />
	<dllmap os="!windows,osx" dll="opencv_legacy245" target="libopencv_legacy.so" />
	<!--  <dllmap dll="opencv_ml240.dll" target="libopencv_ml.so" /> -->
	<dllmap os="!windows,osx" dll="opencv_objdetect245" target="libopencv_objdetect.so" />
	<dllmap os="!windows,osx" dll="opencv_video245" target="libopencv_video.so" />

	<dllmap os="osx" dll="opencv_calib3d245" target="/opt/local/lib/libopencv_calib3d.dylib" />
	<dllmap os="osx" dll="opencv_contrib245" target="/opt/local/lib/libopencv_contrib.dylib" />
	<dllmap os="osx" dll="opencv_core245" target="/opt/local/lib/libopencv_core.dylib" />
	<dllmap os="osx" dll="opencv_features2d245" target="/opt/local/lib/libopencv_features2d.dylib" />
	<dllmap os="osx" dll="opencv_flann245" target="/opt/local/lib/libopencv_flann.dylib" /> 
	<!--  <dllmap os="osx" dll="opencv_gpu240.dll" target="/opt/local/lib/libopencv_gpu.dylib" /> -->
	<dllmap os="osx" dll="opencv_highgui245" target="/opt/local/lib/libopencv_highgui.dylib" />
	<dllmap os="osx" dll="opencv_imgproc245" target="/opt/local/lib/libopencv_imgproc.dylib" />
	<dllmap os="osx" dll="opencv_legacy245" target="/opt/local/lib/libopencv_legacy.dylib" />
	<!--  <dllmap os="osx" dll="opencv_ml240.dll" target="/opt/local/lib/libopencv_ml.dylib" /> -->
	<dllmap os="osx" dll="opencv_objdetect245" target="/opt/local/lib/libopencv_objdetect.dylib" />
	<dllmap os="osx" dll="opencv_video245" target="/opt/local/lib/libopencv_video.dylib" />

</configuration>